$AccentColor: #008597; 
$ForegroundColor: #fff;
$BackgroundColor: #EBEBEB;

$AccentText: $AccentColor;
$LightText: #868686;
$NormalText: #4d4d4d;
$HoveredText: #3a3a3a;

@mixin CardProps 
{
  background-color: $ForegroundColor;
  box-shadow: 0px 5px 4px #00000010;
}

@mixin Round-1 { border-radius: 0.25rem; }
@mixin Round-2 { border-radius: 0.5rem; }
@mixin Round-3 { border-radius: 0.75rem; }
@mixin Round-4 { border-radius: 1rem; }


body
{
  background-color: #EBEBEB;
}

small
{
  color: $LightText;
}

.App{  padding-top: 7rem; }

.Sidebar
{
  position: fixed;
  
  left: 0;
  top: 0px;

  padding-top: 6rem;

  height: 100vh;
  width: 13%;

  text-align: center;

  background-color: $ForegroundColor;

  h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
  }

  a {
    color: $NormalText;
    margin-left: 1.25rem;

    :hover {
      color: $HoveredText;
    }
  }

  .active {
    color: $AccentText;
  }
}

.NavBar
{
  position: fixed;

  top: 0px;

  width: 100%;
  height: 4rem;

  padding: 0.75rem;

  @include CardProps;

  h3 {
    font-weight: 500;
    color: $AccentText;
  }

  h6 {
    font-weight: 500;
    color: $AccentText;
  }


  .center {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .search {
    position: absolute;
    right: 5rem;
  }

  .btn {
    position: absolute;
    background-color: $AccentColor;
  }
}

.Card
{
  position: relative;
  padding:  0rem;
  
  width: 50%;
  
  margin-left: 20%;
  margin-bottom: 3rem;

  overflow: hidden;
  
  h3 { 
    font-weight: 600;
    color: $NormalText;
  }
  
  p {
    font-size: 1.05rem;
    color: $NormalText;
  }

  .hero {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  
  .CardTimestamp {
    float: right;
    margin-top: 0.2rem;
  }

  .CardText {
    padding: 2rem;
    padding-bottom: 1.25rem;
  }

  .CardHeader {
    width: 100%;
    height: 2.5rem;
  }

  .tag {
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: $AccentText;
  }

  @include CardProps;
  @include Round-1;
}

.ProfileThumb 
{
  padding: 0rem 2rem 1.5rem 2rem;

  img {
    width: 3rem;
    height: 3rem;
 
    float: left;

    object-fit: cover;

    margin-right: 0.75rem;
    margin-top: -0.1rem;

    border-radius: 50%;
  }

  h5 {
    color: $NormalText;

    font-size: 1.1rem;

    margin-bottom: 0rem;
    margin-left: 1rem;
  }

  small {
    font-size: 1rem;
  }

  a {
    float: right;
    margin-top: -0.75rem;

    color: $AccentText;
  }
}

.Profile
{
  position: fixed;

  width: 100%;

  z-index: 200;

  hr {
    margin-top: 1.75rem
  }

  .hero {
    float: left;
    height: 25vh;

    margin-bottom: 1rem;

    transition: 0.2s;
  }

  .ProfileImg {
    width: 9rem;
    height: 9rem;

    float: left;

    margin-top: -11vh;
    margin-left: 2rem;

    object-fit: cover;

    border-radius: 13vh;
  
    transition: 0.2s;
  }

  .Name {
    padding-left: 12rem;
    
    margin-bottom: 0.1rem;
    margin-left: 2rem;
    
    font-size: 1.4rem;

    transition: 0.2s;
  }

  .Skill 
  {
    padding-left: 12rem;
    margin-left: 2rem;

    font-weight: lighter;
    font-size: 1.2rem;

    color: $AccentText;

    transition: 0.2s;
  }

  .tabItem
  {
    width: 33%;
  
    float: left;

    color: $NormalText;

    font-weight: 100;
    text-align: center;

    padding-bottom: 0.5rem;
  }

  .Active
  {
    color: $AccentColor;
    font-weight: 400;

    border-color: $AccentColor;
    border-width: 10px;
  }
}

.Spacer{
  height: 50vh;
}

.ScrollBar
{
  position: fixed;

  top: 7rem;
  right: 3rem;

  width: 20%;

  .Scroller
  {
    position: relative;
    padding:  4rem;
        
    margin-bottom: 2rem;
    
    @include CardProps;
    @include Round-1;
  }  
}